nav {
    position: fixed;
    z-index: 10;
}

.view {
    padding: 0 30px;
    padding-top: 64px;
}

.brand-logo i.material-icons {
    margin-left: 10px;
    font-size: 4rem;
}

.search-field .close-icon {
    height: 46px;
    line-height: 46px;
}

.img-col {
    padding-left: 10px;
    padding-right: 10px;
}

.item-availability {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

#loader-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(2,2,2, 0.4);
}

.preloader-wrapper {
    display: block;
    top: 50%;
    margin: 0 auto;
    margin-top: -32px;
}

.hidden { display: none; }

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid black;
}

.arrow-up,
.arrow-down {
    display: inline-block;
    opacity: 0.6;
    cursor: pointer;
}

.arrow-up:hover,
.arrow-down:hover {
    opacity: 1;
}

.btn-delete,
.btn-edit {
    cursor: pointer;
}

.broken-link {
    background-color: #ff4d4d !important;
}

.broken-link * {
    text-decoration: line-through;
}